CONFEDITOR Bitmap confeditor.bmp
CONFEDITOR_WIZARD Bitmap confeditor_wizard.bmp
CONFEDITOR_CONFIG Bitmap confeditor_config.bmp
CONFEDITOR_THEMES Bitmap confeditor_themes.bmp
EXTRAFE Bitmap extrafe.bmp
EXTRAFE_CONFIG Bitmap extrafe_config.bmp
EXTRAFE_THEMES Bitmap extrafe_themes.bmp
EMULATORS Bitmap emulators.bmp
EM_ARCADE Bitmap arcade.bmp
EM_ARCADE_MAME Bitmap mame.bmp
EM_ARCADE_MAME_DIRS Bitmap mame_paths.bmp
EM_ARCADE_MAME_GRAPHICS Bitmap mame_graphics.bmp
EM_ARCADE_MAME_SOUND Bitmap mame_sound.bmp
EM_ARCADE_MAME_OTHERS Bitmap mame_others.bmp
EM_ARCADE_MAME_BUILDS Bitmap mame_builds.bmp
EM_ARCADE_MAME_DATABASE Bitmap mame_database.bmp
EM_ARCADE_ZINC Bitmap zinc.bmp
EM_ARCADE_ZINC_DIRS Bitmap zinc_paths.bmp
EM_ARCADE_ZINC_GRAPHICS Bitmap zinc_graphics.bmp
EM_ARCADE_ZINC_SOUND Bitmap zinc_sound.bmp
EM_COMPUTERS Bitmap computers.bmp
EM_COMPUTERS_ATARI Bitmap atari.bmp
EM_COMPUTERS_ATARI_HATARI Bitmap hatari.bmp
EM_COMPUTERS_ATARI_HATARI_SYSTEM Bitmap hatari_system.bmp
EM_COMPUTERS_ATARI_HATARI_DISKS Bitmap hatari_disks.bmp
EM_COMPUTERS_ATARI_HATARI_SCREEN Bitmap hatari_screen.bmp
EM_COMPUTERS_ATARI_HATARI_JOY Bitmap hatari_joy.bmp
EM_CONSOLES Bitmap consoles.bmp
EM_CONSOLES_SONY Bitmap sony.bmp
EM_CONSOLES_SONY_PSX Bitmap psxemulator.bmp
EM_CONSOLES_SONY_PSX_DIRS Bitmap psx_paths.bmp
EM_CONSOLES_SONY_PSX_SCREEN Bitmap psx_screen.bmp
EM_CONSOLES_SONY_PSX_SOUND Bitmap psx_sound.bmp
EM_CONSOLES_SONY_PSX_OTHERS Bitmap psx_others.bmp
EM_HANDHELDS Bitmap handhelds.bmp
EM_HANDHELDS_NINTENDO Bitmap nintendo.bmp
EM_HANDHELDS_NINTENDO_KIGB Bitmap kigb.bmp
EM_HANDHELDS_NINTENDO_KIGB_DIRS Bitmap kigb_paths.bmp
EM_HANDHELDS_NINTENDO_KIGB_SCREEN Bitmap kigb_screen.bmp
EM_HANDHELDS_NINTENDO_KIGB_SOUND Bitmap kigb_sound.bmp
EM_HANDHELDS_NINTENDO_KIGB_OTHERS Bitmap kigb_others.bmp
WEATHER Bitmap weather.bmp
TIMEDATE Bitmap timedate.bmp
