ARROW ANICURSOR arrow.ani
TEXT ANICURSOR text.ani
LINK ANICURSOR link.ani
BUSY ANICURSOR busy.ani
HORIZONTAL ANICURSOR horizontal.ani
VERTICAL ANICURSOR vertical.ani
PRECISION ANICURSOR precision.ani
ARROW2 ANICURSOR arrow2.ani
TEXT2 ANICURSOR text2.ani
LINK2 ANICURSOR link2.ani
BUSY2 ANICURSOR busy2.ani
HORIZONTAL2 ANICURSOR horizontal2.ani
VERTICAL2 ANICURSOR vertical2.ani
PRECISION2 ANICURSOR precision2.ani
ARROW3 ANICURSOR arrow3.ani
TEXT3 ANICURSOR text3.ani
LINK3 ANICURSOR link3.ani
BUSY3 ANICURSOR busy3.ani
HORIZONTAL3 ANICURSOR horizontal3.ani
VERTICAL3 ANICURSOR vertical3.ani
PRECISION3 ANICURSOR precision3.ani
ARROW4 ANICURSOR arrow4.ani
TEXT4 ANICURSOR text4.ani
LINK4 ANICURSOR link4.ani
BUSY4 ANICURSOR busy4.ani
HORIZONTAL4 ANICURSOR horizontal4.ani
VERTICAL4 ANICURSOR vertical4.ani
PRECISION4 ANICURSOR precision4.ani