GLYF_CONFEDITOR Bitmap confeditor.bmp
GLYF_EXTRAFE Bitmap extrafe.bmp
GLYF_EMULATORS Bitmap emulators.bmp
GLYF_EM_ARCADE Bitmap arcade.bmp
GLYF_EM_ARCADE_MAME Bitmap mame.bmp
GLYF_EM_ARCADE_ZINC Bitmap zinc.bmp
GLYF_EM_COMPUTERS Bitmap computers.bmp
GLYF_EM_COMPUTERS_ATARI Bitmap atarist.bmp
GLYF_EM_COMPUTERS_ATARI_HATARI Bitmap hatari.bmp
GLYF_EM_CONSOLES Bitmap consoles.bmp
GLYF_EM_CONSOLES_SONY Bitmap sony.bmp
GLYF_EM_CONSOLES_SONY_PSX Bitmap psxemulator.bmp
GLYF_EM_HANDHELDS Bitmap handhelds.bmp
GLYF_EM_HANDHELDS_NINTENDO Bitmap gameboy.bmp
GLYF_EM_HANDHELDS_NINTENDO_KIGB Bitmap kigb.bmp
GLYF_WIDGETS Bitmap widgets.bmp
GLYF_WG_WEATHER Bitmap weather.bmp
GLYF_WG_TIMEDATE Bitmap timedate.bmp
GLYF_BACKBUTTON Bitmap back.bmp